* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-parent {
    height: 100px;
}

.pri-parent {
    height: 100px;
    padding: 0 !important;
    background-color: #FBEBB5;
}

.parent {
    display: flex;
    gap: 15%;
    justify-content: end;
}

.box-1 {
    width: 31%;
    display: flex;
    justify-content: space-between;
}

.icons {
    width: 15%;
    margin: 0 50px 0 0;
    display: flex;
    justify-content: space-between;
}

/* nav-bar-completed */

.box-2 {
    width: 100%;
    height: 900px;
    background-color: yellow;
}

#box1 {
    width: 100% !important;
    height: 900px;
    background-color: pink;
}

.div-text {
    /* width: 440px !important; */
    /* max-width: 440px !important; */
    height: 276px;
    background-color: white;
}



















@media (min-width: 0) and (max-width: 991px) {
    .icons {
        display: none !important;
    }

    .box-1 {
        width: 50%;
    }

}