* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-parent {
    height: 100px;
}

.pri-parent {
    height: 100px;
    padding: 0 !important;
    background-color: #FBEBB5;
}

.parent {
    display: flex;
    gap: 15%;
    justify-content: end;
}

.box-1 {
    width: 31%;
    display: flex;
    justify-content: space-between;
}

.icons {
    width: 15%;
    margin: 0 50px 0 0;
    display: flex;
    justify-content: space-between;
}

/* nav-bar-completed */
























@media (min-width: 0) and (max-width: 991px) {
    .icons {
        display: none !important;
    }

    .box-1 {
        width: 50%;
    }

}