* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 100px;
    gap: 15%;
    background-color: #FBEBB5;
    display: flex;
    justify-content: end;
}

.nav-div1 {
    /* width: 430px; */
    width: 30%;
    height: 24px;
    margin: 35px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-div1>h1 {
    font-size: 16px;
    font-weight: 500;
}


.nav-div2 {
    /* width: 247px; */
    width: 18%;
    height: 28px;
    margin: 35px 80px 0 0;
    display: flex;
    justify-content: space-between;
}

.section-1 {
    width: 100%;
    /* height: calc(100vh - 100px); */
    height: 900px;
    background-color: #FBEBB5;
    display: flex;
    justify-content: space-around;

}

.text {
    width: 440px;
    height: 260px;
    margin: 240px 0 0 100px;
}

.text>h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 100px;
    font-family: sans-serif;
}

.text>p {
    width: 80px;
    font-weight: 600;
    margin: 35px 0 0 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
    border-bottom: 3px solid black;
}

.image {
    width: 550px;
    height: 550px;
    margin: 50px 40px 0 0;
}

.image>img {
    width: 100%;
    height: 100%;
}

.section-2 {
    width: 100%;
    height: 672px;
    background-color: #FAF4F4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table {
    width: 50%;
    height: 562px;
}

.sofa {
    width: 50%;
    height: 562px;
}

.sec-2>img {
    height: 100%;
    width: 100%;
}


.section-3 {
    width: 100%;
    height: 777px;
    background-color: #FFFFFF;
}

.heading {
    width: 773px;
    height: 54px;
    margin: auto;
    font-size: 18px;
    margin-top: 40px;
    line-height: 53px;
    text-align: center;
    font-family: sans-serif;
}

.heading>h1 {
    font-weight: 500;
}

.sec-3_pictures {
    width: 100%;
    height: 397px;
    margin: 100px 0 0 0;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.sec-3_pics {
    width: 287px;
    height: 397px;
}

.sec-3_pics>img {
    height: 100%;
    width: 100%;
}

.view {
    width: 115px;
    height: 49px;
    margin: auto;
    font-size: 11px;
    margin-top: 70px;
    text-align: center;
    line-height: 45px;
    font-family: sans-serif;
    border-bottom: 2px solid black;
}

.view>h1 {
    font-weight: 500;
}


@media (min-width: 1440px) and (max-width: 2870px) {

    .table {
        height: 562px;
        width: 605px;

    }

    .sofa {
        height: 562px;
        width: 605px;

    }



}